In [1]:
def add(a,b):
    return a+b

r1 = add(10,20)
print(r1)

30

In [2]:
add = lambda a,b:a+b

r1 = add(10,20)
print(r1)

r2 = add(20,30)
print(r2)

30
50

In [3]:
def cal_age(year):
    return 2024-year

age = cal_age(1998)
print(age)

26

In [5]:
age = lambda year:2024-year

print(age(1998))
print(age(1957))

26
67

In [6]:
def add_one(mark):
    return mark+1

map_result = map(add_one,[34,35,36,37,38])

print(map_result)
print(list(map_result))

<map object at 0x000001883EDCE530>
[35, 36, 37, 38, 39]

In [9]:
print(list(map(lambda mark:mark+1,[45,46,47,48,49])))

[46, 47, 48, 49, 50]

In [10]:
def uppercase(name):
    return name.upper()

name = uppercase("shanbor")
print(name)

SHANBOR

In [14]:
enames =['shanbor','sunil','rajesh']

def uppercase(name):
    return name.upper()

map_ref = map(uppercase,enames)
new_enames = list(map_ref)
print(enames)
print(new_enames)

['shanbor', 'sunil', 'rajesh']
['SHANBOR', 'SUNIL', 'RAJESH']

In [17]:
enames = ['shanbor','sunil','rajesh']

new_enames = list(map(lambda name:name.upper(),enames))

print(enames)
print(new_enames)

['shanbor', 'sunil', 'rajesh']
['SHANBOR', 'SUNIL', 'RAJESH']

In [20]:
numbers = [10,20,30,40,50]

def double(num):
    return num*2

new_numbers = list(map(double,numbers))

print(numbers)
print(new_numbers)

[10, 20, 30, 40, 50]
[20, 40, 60, 80, 100]

In [21]:
numbers = [10,20,30,40,50]

new_num = list(map(lambda num:num*2,numbers))
print(new_num)

[20, 40, 60, 80, 100]