In [1]:
l1 = []
print(type(l1))

<class 'list'>

In [2]:
d1 = {10,20,30,40,50}
d2 = {40,50,60,70}
print(type(d1))

<class 'set'>

In [3]:
print(d1.union(d2))

{70, 40, 10, 50, 20, 60, 30}

In [4]:
print(d1 - d2)

{10, 20, 30}

In [5]:
d1 = {'id':'101','name':'Shanbor','salary':45000}
print(d1.[0])

SyntaxError: invalid syntax (4204607433.py, line 2)

In [11]:
d1 = {'id':'101','name':'Shanbor','salary':45000}
values = d1
for value in values:
    print(values)

{'id': '101', 'name': 'Shanbor', 'salary': 45000}
{'id': '101', 'name': 'Shanbor', 'salary': 45000}
{'id': '101', 'name': 'Shanbor', 'salary': 45000}

In [ ]:
emp : {'id':101,'name':'Shanbor','salary':45000}
items = emp.items()
print(items)

In [2]:
emp = {'id':101,'name':'Shanbor','salary':45000}
items = emp.items()
print(items)

dict_items([('id', 101), ('name', 'Shanbor'), ('salary', 45000)])